:root {
  font-size: 20px;
  --color-main: #131313;

  --section-width-desktop: 80%;
  --section-width-mobile: 85%;

  --otakugifs-color: #1761e1;
  --kouhai-color: #a63dcf;
  --shiro-color: #e05477;
  --usefulscripts-color: #89e051;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-main);
  color: white;
  font-family: "Raleway", sans-serif;
  position: relative;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

h3 {
  margin: 0;
}

p {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}
