:root {
  font-size: 20px;
  --color-main: #131313;
  --color-secondary: #252525;
  --color-gray: #898989;

  --section-width-desktop: 80%;
  --section-width-mobile: 85%;

  --otakugifs-color: #1761e1;
  --kouhai-color: #a63dcf;
  --shiro-color: #e05477;
  --usefulscripts-color: #89e051;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-main);
  color: hsl(0, 0%, 90%);
  font-family: "Kanit", sans-serif;
  position: relative;
  overflow-x: hidden;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

h3,
h4 {
  margin: 0;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
}

p {
  margin: 0.5em 0;
  font-weight: 200;
}

b {
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.round {
  border-radius: 50%;
  border: 2px solid white;
}

.tooltip-up-left {
  --border-radius-size: 10px;

  position: absolute;
  bottom: -30px;
  background-color: var(--color-secondary);
  color: var(--color-gray);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 0.66rem;
  font-weight: 400;
  width: max-content;

  &::before {
    content: "";
    position: absolute;
    top: -72%;
    left: 14%;
    border-left: var(--border-radius-size) solid transparent;
    border-right: var(--border-radius-size) solid transparent;
    border-bottom: var(--border-radius-size) solid var(--color-secondary);
    border-top: var(--border-radius-size) solid transparent;
  }
}

.tooltip-down-left {
  --border-radius-size: 10px;

  position: absolute;
  bottom: 0px;
  padding: 4px;
  border-radius: 3px;
  width: max-content;

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 3px;
    border-left: var(--border-radius-size) solid transparent;
    border-right: var(--border-radius-size) solid transparent;
    border-bottom: var(--border-radius-size) solid transparent;
    border-top: var(--border-radius-size) solid var(--color-secondary);
  }
}
